{% extends 'base.html.twig' %}

{% block title %}Ajouter une recette{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-bg {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}"></nav>
        <h1>Ajouter une recette</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <hr>
        <a class="btn btn-outline-primary" href="/">Accueil</a>
    </div>
{% endblock %}
