{% extends 'base.html.twig' %}

{% block title %}Ajouter un ingredient{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-bg {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}"></nav>
        <h1>Ajouter des ingrédients pour {{ recette.titre }}</h1>
        {{ form(ingredientForm) }}
        <hr>
        <a class="btn btn-outline-primary" href="/">Accueil</a>
    </div>
{% endblock %}
