{% extends 'base.html.twig' %}

{% block title %}Ajouter un ingredient{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter des ingrédients pour {{ recette.titre }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <hr>
        <a class="btn btn-outline-primary" href="/">Accueil</a>
    </div>
{% endblock %}
