{% extends 'base.html.twig' %}

{% block title %}Mise à jour de la recette{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-bg {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}"></nav>
        <h1>Mettre à jour le titre et le sous-titre</h1>
        {{ form(editForm) }}
        <hr>
        <a class="btn btn-outline-primary" href="/">Accueil</a>
    </div>
{% endblock %}
