{% extends 'base.html.twig' %}

{% block title %}Mise à jour de la recette{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <hr>
    <a class="btn btn-outline-primary" href="/">Retour</a>
{% endblock %}
